In [22]:
import pandas as pd
df = pd.read_csv('ds_salaries.csv')
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

# 1. ერთ ცვლადიანი რეგრესიის მოდელი work_year და salary_in_usd მონაცემებზე დაყრდნობით.
(მივიღეთ მაღალი MSE და დაბალი R-კვადრატის მნიშვნელობა, რაც მიუთითებს რომ სხვაობა რეალურ და პროგნოზირებულ ხელფასს შორის მაღალია და არჩეული მონაცემები არ არის საკმარისი ხელფასის ცვალებადობის განსასაზღვრად)

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# დამოუკიდებელი X ცვლადი work_year და დამოკიდებული Y ცვლადი salary_in_usd 
X = df[['work_year']] 
y = df['salary_in_usd']

# მონაცემების დაყოფა
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# ხაზოვანი რეგრესიის მოდელის შექმნა
model = LinearRegression()
model.fit(X_train, y_train)

# სატესტო მონაცემებზე პროგნოზირება
y_pred = model.predict(X_test)

# მოდელის ეფექტურებობის განსაზღვრა
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'საშუალო კვადრატული გადახრა: {mse}')
print(f'R-კვადრატი: {r2}')

საშუალო კვადრატული გადახრა: 3764814231.130319
R-კვადრატი: 0.04634887163134349

# 2.მრავალ ცვლადიანი რეგრესიის მოდელი work_year, remote_ratio და salary მონაცემებზე დაყრდნობით
(მივიღეთ მაღალი MSE და დაბალი R-კვადრატის მნიშვნელობა, რაც კვადრატული სხვაობა რეალურ და პროგნოზირებულ ხელფასებს შორის საკმაოდ მაღალია და არჩეული მონაცემები არ არის საკმარისი ხელფასის ცვალებადობის განსასაზღვრად)

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# დამოუკიდებელი X ცვლადი work_year და remote_ratio, და დამოკიდებული Y ცვლადი salary 
X = df[['work_year', 'remote_ratio']]
y = df['salary']

# მონაცემების დაყოფა
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# ხაზოვანი რეგრესიის მოდელის შექმნა
model = LinearRegression()
model.fit(X_train, y_train)

# სატესტო მონაცემებზე პროგნოზირება
y_pred = model.predict(X_test)

# მოდელის ეფექტურებობის განსაზღვრა
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'საშუალო კვადრატული გადახრა: {mse}')
print(f'R-კვადრატი: {r2}')

საშუალო კვადრატული გადახრა: 160016817317.4398
R-კვადრატი: 0.019814760499733297

# 3. გადაწყვეტილების ხის რეგრესიის მოდელი
(უარყოფითი R-კვადრატი და უკიდურესად მაღალი MSE გვაჩვენებს რომ ხის მოდელი ეფექტური არ არის

In [46]:
import pandas as pd
df = pd.read_csv('Market.csv')
df

,Index,Date,Open,High,Low,Close,Adj Close,Volume
0,NYA,12/31/1965,528.690002,528.690002,528.690002,528.690002,528.690002,0.0
1,NYA,1/3/1966,527.210022,527.210022,527.210022,527.210022,527.210022,0.0
2,NYA,1/4/1966,527.840027,527.840027,527.840027,527.840027,527.840027,0.0
3,NYA,1/5/1966,531.119995,531.119995,531.119995,531.119995,531.119995,0.0
4,NYA,1/6/1966,532.070007,532.070007,532.070007,532.070007,532.070007,0.0
...,...,...,...,...,...,...,...,...
112452,N100,5/27/2021,1241.119995,1251.910034,1241.119995,1247.069946,1247.069946,379696400.0
112453,N100,5/28/2021,1249.469971,1259.209961,1249.030029,1256.599976,1256.599976,160773400.0
112454,N100,5/31/2021,1256.079956,1258.880005,1248.140015,1248.930054,1248.930054,91173700.0
112455,N100,6/1/2021,1254.609985,1265.660034,1254.609985,1258.579956,1258.579956,155179900.0
112456,N100,6/2/2021,1258.489990,1263.709961,1258.239990,1263.619995,1263.619995,148465000.0

In [49]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score

# NaN მნიშვნელობებისგან გაფილტვრა
df = df.dropna(subset=['Volume'])

# დამოუკიდებელი X ცვლადი Open, High, Low და Adj Close, და დამოკიდებული Y ცვლადი Volume 
X = df[['Open', 'High', 'Low', 'Adj Close']]
y = df['Volume']

# მონაცემების დაყოფა
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# გადაწყვეტილების ხის რეგრესიის მოდელის შექმნა
model = DecisionTreeRegressor(random_state=42)
model.fit(X_train, y_train)

# სატესტო მონაცემებზე პროგნოზირება
y_pred = model.predict(X_test)

# მოდელის ეფექტურებობის განსაზღვრა
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'საშუალო კვადრატული გადახრა: {mse}')
print(f'R-კვადრატი: {r2}')

საშუალო კვადრატული გადახრა: 2.166681251418123e+19
R-კვადრატი: -0.14911729077076719

# 4. ლოგისტიკური რეგრესიის მოდელი.
მოდელი აჩვენებს მაღალ სიზუსტეს (0.9585903483309144).

In [54]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix


# ორობითი სამიზნე ცვლადის შექმნა
df['HighVolume'] = (df['Volume'] > df['Volume'].median()).astype(int)

# დამოუკიდებელი X და დამოკიდებული Y ცვლადის განსაზღვრა 
X = df[['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']]
y = df['HighVolume']

# მონაცემების დაყოფა
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# ლოგისტიკური რეგრესიის მოდელის შემნა
model = LogisticRegression(random_state=42)
model.fit(X_train, y_train)

# სატესტო მონაცემებზე პროგნოზირება
y_pred = model.predict(X_test)

# მოდელის ეფექტურებობის განსაზღვრა
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

print(accuracy)
print(conf_matrix)
print(classification_rep)

0.9585903483309144
[[10415   710]
 [  203 10720]]
              precision    recall  f1-score   support

           0       0.98      0.94      0.96     11125
           1       0.94      0.98      0.96     10923

    accuracy                           0.96     22048
   macro avg       0.96      0.96      0.96     22048
weighted avg       0.96      0.96      0.96     22048

# 5. გადაწყვეტილების ხის კლასიფიკაციის მოდელი
მოდელი კარგად მუშაობს Accuracy: 0.9711538461538461

In [30]:
import pandas as pd
df = pd.read_csv('Plane_Price.csv')
df

,Model Name,Engine Type,HP or lbs thr ea engine,Max speed Knots,Rcmnd cruise Knots,Stall Knots dirty,Fuel gal/lbs,All eng rate of climb,Eng out rate of climb,Takeoff over 50ft,Landing over 50ft,Empty weight lbs,Length ft/in,Wing span ft/in,Range N.M.,Price
0,100 Darter (S.L. Industries),Piston,145,104,91.0,46.0,36,450,900.0,1300.0,"2,050","1,180",25/3,37/5,370,1300000.0
1,7 CCM Champ,Piston,85,89,83.0,44.0,15,600,720.0,800.0,"1,350",820,20/7,36/1,190,1230000.0
2,100 Darter (S.L. Industries),Piston,90,90,78.0,37.0,19,650,475.0,850.0,"1,300",810,21/5,35/0,210,1600000.0
3,7 AC Champ,Piston,85,88,78.0,37.0,19,620,500.0,850.0,"1,300",800,21/5,35/0,210,1300000.0
4,100 Darter (S.L. Industries),Piston,65,83,74.0,33.0,14,370,632.0,885.0,"1,220",740,21/5,35/0,175,1250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,500 A,Propjet,1000,351,334.0,NaN,3819,"3,242",1930.0,2280.0,"12,050","7,856",43/5,47/8,"1,879",4100000.0
513,100 Darter (S.L. Industries),Propjet,720,312,288.0,89.0,578,"2,380",2280.0,3043.0,"11,200","6,837",43/5,47/8,"1,722",3584000.0
514,520,Propjet,720,290,275.0,87.0,390,"2,236",3230.0,3017.0,"11,200","6,389",43/5,47/8,"1,515",3200000.0
515,2180,Propjet,620,275,270.0,77.0,382,"1,750",2940.0,2446.0,"9,474","5,164",36/8,42/8,"1,336",3240000.0
516,2150A Kachina,Propjet,620,283,269.0,75.0,382,"2,710",1980.0,2480.0,"9,000","5,018",34/8,42/8,"1,444",3160000.0

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report

# სამიზნე მნიშვნელობა: 'Engine Type', გამოვიყენებთ 'Rcmnd cruise Knots' და 'Fuel gal/lbs' მნიშვნელობებს
features = ['Rcmnd cruise Knots', 'Fuel gal/lbs']
target_variable = 'Engine Type'

X = df[features]
y = df[target_variable]

# მონაცემების დაყოფა
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# გადაწყვეტილების ხის მოდელის აგება
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

# სატესტო მონაცემებზე პროგნოზირება
y_pred = model.predict(X_test)

# მოდელის ეფექტურებობის განსაზღვრა
accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

print(f"ეფექტურობა: {accuracy}")
print("რეპორტი:\n", classification_rep)

# ახალ მონაცემებზე შემოწმება
new_data = pd.DataFrame({'Rcmnd cruise Knots': [100], 'Fuel gal/lbs': [30]})
new_prediction = model.predict(new_data)

print(new_prediction)

ეფექტურობა: 0.9711538461538461
რეპორტი:
               precision    recall  f1-score   support

         Jet       1.00      0.83      0.91        12
      Piston       0.99      1.00      0.99        85
     Propjet       0.75      0.86      0.80         7

    accuracy                           0.97       104
   macro avg       0.91      0.90      0.90       104
weighted avg       0.97      0.97      0.97       104

['Piston']